<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yourapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="Evosus Theme"
        android:theme="@style/Theme.AppCompat.NoActionBar"> 

    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </activity>

    </application>
</manifest>
